<footer class="flex-row full">
  <div class="footer-left">
    Created by Psycoder
  </div>
  <div class="flex-row fill footer-center">
    <a class="txt-link" href="/about">About</a>
    <p class="spacer">|</p>
    <a class="txt-link" href="/legal">Legal</a>
  </div>
  <div class="footer-right">
    Copyright (c) 2018
  </div>
</footer>
