<footer class="flex-row full">
  <div class="footer-left">
    Copyright (c) 2018
  </div>
  <div class="footer-center fill">

  </div>
  <div class="footer-right">
    <a class="txt-link" href="/about">About</a>
  </div>
</footer>
