<% if (user.pending.indexOf(member.username) != -1) { %>
<div class="flex-col fill friend-request-msg">
  <p>Friend request sent. Awaiting reply.
  (<a class="txt-link" href="/members/<%= member.username %>/revoke">Withdraw Request</a>)
  </p>
</div>
<% } else if (inFlight) { %>
<div class="flex-col fill friend-request-msg">
  <p><%= member.username %> has sent you a friend request and is awaiting a reply.</p>
</div>
<% } else { %>
<div class="flex-col fill friend-request">
  <form class="flex-col fill" action="/members/<%= member.username %>/befriend" method="post">
    <div id="fr-error" class="error-message"></div>
    <textarea id="fr-message" name="message">Hello, would you like to be friends?</textarea>
    <div class="submit">
      <input id="fr-submit" type="submit" value="Send Friend Request">
    </div>
  </form>
</div>
<% } %>
