<header>
<% let homeLoc = (user ? '/members' : '/'); %>
  <div class="start fill">
    <h1><a class="txt-link" href="<%= homeLoc %>">AloneTogether</a></h1>
  </div>
  <div class="end">
    <%- include('userControls.ejs', { user: user }); %>
  </div>
</header>
