<div class="user-controls">
<% if (user) { %>
  <a class="txt-link row" href="/members/<%= user.username %>">
    <%= user.username %>
  </a>
  <a class="txt-link row" href="/members/<%= user.username %>/account">Settings</a>
  <form action="/login" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="txt-button" type="submit" value="Log Out">
  </form>
<% } else { %>
  <a href="/login">
    <button class="txt-button" type="button">Log In</button>
  </a>
<% } %>
</div>
