:root {
  --text-color: thistle;
  --link-color: yellow;
  --hint-text-color: lightgrey;
  --accent-text-color: bisque;
  --attention-text-color: orange;
  --background-color: navy;
  --separator-color: royalblue;
}

html {
  color: var(--text-color);
  background-color: var(--background-color);
}

main {
  margin: 10px;
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 5px;
}

header, footer {
  position: fixed;
  padding: 10px;
  margin: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--background-color);
}

header {
  top: 0;
}

footer {
  bottom: 0;
  border-top: 1px solid var(--separator-color);
}

fieldset {
  display: inline-flex;
  flex-direction: column;
  border-color: var(--separator-color);
}

legend {
  color: var(--accent-text-color);
  text-align: left;
  padding: 0 10px;
}

textarea {
  margin: 5px 0;
  resize: none;
  overflow-y: auto;
}

.text-display, .send-message {
  width: 80%;
  min-width: 250px;
}

.send-message {
  margin: 5px auto;
}

.flex-col {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-row {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flex-col.full, .flex-row.full {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.auth-form {
  min-width: 350px;
}

.auth-form label {
  margin: 5px 0;
}

.hint {
  color: var(--hint-text-color);
  font-style: italic;
  margin-left: 15px;
}

.submit {
  padding: 10px 15px;
  padding-bottom: 0px;
  text-align: right;
}

.user-page-left, .user-page-right {
  margin: 5px;
  text-align: center;
}

.friend-request-msg, .center {
  text-align: center;
}

.friend-request textarea, .send-message textarea {
  min-width: 300px;
  min-height: 5em;
}

.user-controls, .grid-2 label {
  text-align: right;
}

.user-settings {
  min-width: 550px;
  max-width: 700px;
}

.txt-button, .txt-link {
  border: 0;
  padding: 0;
  color: var(--link-color);
  background: none;
  cursor: pointer;
  text-decoration: none;
}

.txt-button:hover, .txt-button:active, .txt-link:active {
  outline: none;
  color: var(--link-color);
}

input[type="submit"] {
  cursor: pointer;
}

.grid-2 {
  margin: 5px;
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: .5em;
  grid-row-gap: 5px;
}

.fill {
  flex-grow: 1;
}

.stretch {
  align-items: stretch;
}

.spacer {
  padding: 0;
  margin: 0 10px;
  color: var(--separator-color);
}

.avatar {
  width: 250px;
  height: 250px;
}

.small-avatar {
  width: 100px;
  height: 100px;
}

.member, .user-settings > form {
  margin: 10px;
}

.member {
  position: relative;
  border: 1px solid var(--separator-color);
  box-shadow: 2px 2px 10px var(--separator-color);
}

.member.together {
  background-color: rgba(225, 225, 255, 0.2);
}

.alone-blind {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.member-status {
  padding: 5px;
  padding-right: 10px;
}

.status {
  text-transform: capitalize;
}

.edit-message, .error-message {
  text-align: center;
  color: var(--attention-text-color);
  font-size: 1.5em;
  font-weight: bold;
}

.msg-window p {
  padding: 0;
  margin: 5px 0;
}

.msg-window {
  max-height: 600px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.msg-window input[type="submit"] {
  margin-top: 5px;
}

.fr-content, .msg-content {
  color: black;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
}

.fr-content .txt-link, .msg-content .txt-link {
  color: navy;
}

.top-float {
  color: black;
  position: absolute;
  font-weight: bold;
  padding: 0.8em;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
}

#change-avatar {
  border: 1px solid var(--separator-color);
  margin: 5px;
  position: relative;
  cursor: pointer;
}
