@import url('https://fonts.googleapis.com/css?family=Noticia+Text:400,400i');

:root {
  --color-beige: #C4BCB1;
  --color-dark-grey: #323637;
  --color-light-grey: #9E9F9A;
  --color-dark-brown: #53311F;
  --color-light-brown: #876956;
  --color-transparent-black: rgba(0, 0, 0, 0.4);
  --color-transparent-brown: rgba(83, 49, 17, 0.7);
}

html {
  color: var(--color-beige);
  font-family: 'Noticia Text', serif;
  background-color: var(--color-light-brown);
}

main {
  margin: 10px;
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 5px;
}

header, footer {
  position: fixed;
  padding: 10px;
  margin: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--color-dark-brown);
}

header {
  top: 0;
}

footer {
  bottom: 0;
  border-top: 1px solid var(--color-light-grey);
}

fieldset {
  display: inline-flex;
  flex-direction: column;
  border-color: var(--color-beige);
}

legend {
  color: var(--color-beige);
  text-align: left;
  padding: 0 10px;
}

textarea {
  margin: 5px 0;
  resize: none;
  overflow-y: auto;
}

input, textarea {
  border-color: var(--color-beige);
  background-color: var(--color-light-grey);
}

input:active, textarea:active, input:focus, textarea:focus {
  outline: none;
  background-color: var(--color-beige);
}

input[type="submit"], select, .button, input[type="checkbox"] {
  outline: none;
  margin-top: 5px;
  cursor: pointer;
  color: var(--color-dark-brown);
  background-color: var(--color-beige);
  border-color: var(--color-beige);
}

input[type="submit"]:disabled, select:disabled, .button:disabled {
  cursor: auto;
  color: var(--color-light-brown);
  background-color: var(--color-light-grey);
  border-color: var(--color-beige);
}

::placeholder {
  color: var(--color-light-brown);
}

.tagline {
  transform: translateY(-75px);
}

.tagline h1 {
  font-size: 3em;
  text-shadow: 2px 2px 4px var(--color-dark-brown);
}

.tagline p {
  font-size: 1.2em;
}

.button {
  margin: 0 5px;
  cursor: pointer;
}

.button:active {
  outline: none;
}

.text-display, .fill-most {
  width: 80%;
  min-width: 250px;
}

.send-message, .friend-request, .make-post  {
  width: 80%;
  margin: 10px auto;
  min-width: 400px;
}

.flex-col {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-row {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flex-col.full, .flex-row.full {
  display: flex;
}

.bio-wrapper .text-display{
  width: 90%;
  margin: 0 auto;
}

.wrap {
  flex-wrap: wrap;
}

.auth-form {
  min-width: 350px;
}

.auth-form label {
  margin: 5px 0;
}

.hint {
  color: var(--color-dark-grey);
  font-style: italic;
  margin-left: 15px;
}

.submit {
  padding: 10px 15px;
  padding-bottom: 0px;
  text-align: right;
}

.user-page-left {
  margin: 5px;
  width: 300px;
  text-align: center;
}

.user-page-right {
  margin: 5px;
  text-align: center;
}

.friends > * {
  display: block;
  margin-bottom: .5em;
}

.friend-request-msg, .center {
  margin: inherit auto;
  text-align: center;
}

.friend-request textarea, .send-message textarea, .make-post textarea {
  min-width: 300px;
  min-height: 5em;
}

.user-controls, .grid-2 label, .actions {
  text-align: right;
}

.profile-content, .inbox-content, .index-content {
  padding-left: 10%;
  padding-right: 10%;
  min-width: 600px;
}

.user-settings {
  min-width: 550px;
  max-width: 700px;
}

.user-settings > form {
  margin: 10px;
}

.txt-button, .txt-link, .txt-button:visited, .txt-link:visited, input[type="submit"].txt-button {
  border: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  color: var(--color-light-grey);
  text-shadow: 1px 1px 2px var(--color-dark-brown);
  background: none;
  cursor: pointer;
  text-decoration: none;
}

.txt-button:hover, .txt-button:active, .txt-link:hover, input[type="submit"].txt-button:hover {
  outline: none;
  color: var(--color-beige);
}

.grid-2 {
  margin: 5px;
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: .5em;
  grid-row-gap: 5px;
}

.grid-2 > label, .grid-2 > span {
  margin-top: 10px;
}

.fill {
  flex-grow: 1;
}

.stretch {
  align-items: stretch;
}

.spacer {
  padding: 0;
  margin: 0 10px;
  color: var(--color-light-grey);
}

.avatar {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.small-avatar {
  width: 100px;
  height: 100px;
}

.member {
  margin: 10px;
  position: relative;
  color: var(--color-beige);
  background-color: var(--color-dark-brown);
  border: 1px solid var(--color-dark-grey);
  box-shadow: 2px 2px 10px var(--color-dark-brown);
}

.alone-blind {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: var(--color-transparent-black);
}

.user-post {
  align-self: stretch;
  position: relative;
  margin: 15px;
  text-align: left;
  line-height: 1.3em;
  color: var(--color-beige);
  background-color: var(--color-dark-brown);
  border: 1px solid var(--color-dark-grey);
  box-shadow: 2px 2px 10px var(--color-dark-brown);
}

.post-display {
  padding: 10px;
  padding-bottom: 0;
}

.post-display > p {
  margin: 0;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.timestamp {
  text-align: left;
}

.member-status {
  padding: 5px;
  padding-right: 10px;
}

.status {
  text-transform: capitalize;
}

.edit-message, .error-message {
  padding: 5px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-beige);
}

.msg-window p {
  padding: 0;
  margin: 5px 0;
}

.msg-window {
  margin-top: 5px;
  max-height: 600px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.fr-content, .msg-content {
  margin: 5px;
  padding: 5px;
  color: var(--color-light-grey);
  background-color: var(--color-dark-brown);
  border: 1px solid var(--color-dark-grey);
}

.popup {
  margin: 0 auto;
  padding: 2em;
  border: 1px solid var(--color-light-grey);
  background-color: var(--color-dark-brown);
  box-shadow: 2px 2px 15px var(--color-dark-brown);
}

.close-popup {
  align-self: flex-end;
  margin-top: -1em;
  margin-right: -1em;
}

.top-float {
  color: var(--color-light-grey);
  position: absolute;
  font-weight: bold;
  padding: 0.8em;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-transparent-brown);
}

#avatar-list {
  margin: 5px 0;
  max-width: 620px;
  align-self: center;
}

#all-friends, #all-blacklist {
  margin: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: .5em;
  grid-row-gap: 5px;
  max-height: 200px;
  overflow-y: auto;
}

#all-friends > div, #all-blacklist > div {
  display: inline-block;
  padding: 2px;
  box-sizing: border-box;
}

.avatar-option {
  padding: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid transparent;
}

.avatar-option:hover {
  border-color: var(--color-beige);
}

#change-avatar {
  border: 2px solid var(--color-light-grey);
  margin: 5px;
  position: relative;
  cursor: pointer;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  text-align: center;
  justify-content: center;
}

#not-found-content {
  margin-top: 100px;
}

.hidden {
  display: none;
}
