<!DOCTYPE html>
<html lang="en" dir="ltr">
<%
  let subtitle = ' - Member - ' + member.username + ' - Settings';
  let imgSrc = (member.username ? member.username : '/images/anon.svg');
%>
  <head>
  <%- include('../partials/header.ejs', { subtitle: subtitle }); %>
  </head>
  <body>
    <h1>Settings</h1>
    <img class="avatar" src="<%= member.profilePic %>" alt="<%= member.username %>">
    <form action="/members/<%= imgSrc %>?_method=delete" method="post">
      <input type="submit" value="Delete My Account">
    </form>
  <% include ../partials/footer.ejs %>
  </body>
</html>
