<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include('../partials/head.ejs', { subtitle: null }); %>
  </head>
  <body>
  <%- include('../partials/header.ejs', { user: user }); %>
  <main>
    <div class="flex-col full center">
      <img class="main-logo" src="/images/at-logo.svg" alt="AloneTogether">
      <div class="flex-col center tagline">
        <h1>AloneTogether</h1>
        <p>The place to interact with others while secluded in your room</p>
      </div>
    </div>
  </main>
  <% include ../partials/footer.ejs %>
  </body>
</html>
