<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include('../partials/head.ejs', { subtitle: null }); %>
  </head>
  <body>
  <%- include('../partials/header.ejs', { user: user }); %>
  <% include ../partials/footer.ejs %>
  </body>
</html>
